<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page2</title>
</head>
<body>
    <h1>je suis la page 2 bienvenue sur ma page 2</h1>
    <p>live coding matin la </p>
</body>
</html>